h1{
	margin-bottom: 15px;
}

p
{
	border: 1px solid black;
	margin-bottom: 15px;

}
#p1
{
	background-color: yellow;
	width:300px
	height:300px;
}
#p2
{
	background-color: gray;
	width:100px
	height:100px;
}
#p3
{
	background-color: pink;
	border: 1px solid black;
	font-family: comic sans;
	width:100px
	height:100px;
}
@media (min-width:992px) and (max-width:1199px)
{
	#p1{width:50%;}
	#p2{width:100px;
		height:100px;}
	#p3{width:150px;}	
	body{background-color: blue; }
}
